* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    background: #1b1d2a;
    min-height: 100vh;
    padding: 0 10px;
}
.date{
    display: flex;
    gap:10px;
    align-items:center;
    .today{
        border: 3px solid #12143a;
        border-radius:20px;
        width: 70px;
        color:white ;
        padding: 10px;
        background-color: #b4b6cf;
    }
}
.opc{
    width: 100% ;
    height: 50px;
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    .titlePage{
        color:white;
        font-size:20px ; 
        padding: 0 0 0 10px;
        display: flex;
        align-items:center;
        width: 50% ;
        text-align:left ;
        text-shadow:0 -1px 2px #657ef8; 
    }
     .btns{
        margin:0 10px 0 0 ; 
    }
}
button ,a {
    text-decoration :none;
    outline:none;
    background-color : #657ef8 ;
    color : white ; 
    height: 40px ;
    border-radius : 10px ;
    padding: 5px ;
    border: 3px solid #fff;
}

.calendar-container {
    background: #8e90af;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    display: grid;
    grid-template-rows: auto 1fr;
}

.calendar-container header {
    color : #161a45 ;
    display: flex;
    padding: 25px 30px 10px;
    align-items: center;
    justify-content: space-between;
}

header .calendar-navigation {
    display: grid;
    grid-auto-flow: column;
    gap: 1px;
}

header .calendar-navigation span {
    height: 38px;
    width: 38px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    user-select: none;
    color: white;
    font-size: 1.9rem;
}

header .calendar-navigation span:hover {
    background: #6f7190;

}

header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
    justify-self: end;
}

.calendar-body {
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.calendar-body ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}


.calendar-body li {
    font-size: 1.07rem;
    color: #414141;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
    color:white ;
}

.calendar-body .calendar-dates li {
    cursor: pointer;
    padding: 10px;
    text-align : left ;
    font-size : 15px;
    color:#f0f2ff ;
}

.calendar-body .calendar-dates li:hover {
    background-color: #736890;
}
.calendar-dates li p {
    color : #1c1e2c  ;
}
.calendar-dates li.inactive {
    color: #d7d9ee;
}

.calendar-dates li.active {
    background-color: #6f7190;
    color: #fff;
}

.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

